@media (min-width: $tablet) {
    //navigation section
    .header__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .header__logo {
        @include flex-row;
        justify-content: center;
        align-items: baseline;
        margin-right: auto;
    }
    .logo-title {
        display: inline-block;
        align-self: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: rgba(141, 129, 172, 1);
        text-transform: uppercase;
        padding-left: 10px;
    }
    .header__burger {
        display: none;
    }
    .header__menu {
        visibility: visible;
        position: initial;
        flex-basis: 100%;
        order: 2;  
    }
    .header__list {
        @include flex-row;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .header__item {
        border: none;
    }
    .header__link {
        color: rgba(141, 129, 172, 1);
        padding: 10px 10px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        background-color: initial;
        min-width: 20px;

        &.active::before {
            width: 0px;
            height: 0px;
        }
    }

    //hero section 
    .header__title {
        font-size: 72px;
        line-height: 72px;
    }
    .header__description {
        font-size: 24px;
    }
    .header__btn--secondary {
        width: 400px; 
    }

    
    .container {
        width: 90%;
    }

    .editor__section-editor {
        margin-top: 158px;
        margin-bottom: 160px;
    }

    .editor {

        &__title {
            font-size: 42px;
            line-height: 42px;
        }

        &__text {
            margin-bottom: 30px;
            font-size: 21px;
            line-height: 29px;
        }

    }

    .editor-list {
        &__last-item {
            margin-top: 0;
        }
    }
    .advantages__title {
        width: 90%;
        font-size: 42px;
        line-height: 44px;
        margin-bottom: 50px;
    }

    .container-benefits {
        width: 90%;
        @include center;
        display: grid;
        grid-template-columns: 110px 23px 81.15%;
        margin-bottom: 60px;

    
        &__wrapper-img {
            width: 111px;
            margin-bottom: 0;  
            grid-column: 1;
        }

        &__description {
            text-align: left;
           grid-column: 3;
        }

        &__text {
            line-height: 19px;
            width: 84%;
        }
    }

    .advantages__wrapper-img {
        margin-top: 76px;
        overflow-x: visible;
    }
    
    .advantages__img {
        width: 100%;
        position:relative;
        right: 0;
    }

}

@media (min-width: $desktop) {
    //navigation section
    body {
        overflow-x: hidden;
    }

    .header__wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .header__body {
        justify-content:space-between;
        align-items: center;
        background-color: black;
        &:last-child {
            flex-basis: content;
        }
        &:hover {
            color: white;
        }
    }
    .header__logo {
        order: 1;

        &-img:hover > .logo-title {
            color: white;
        }
        &:hover > .logo-title{
            color: white;
        }
    }
    .header__logo-img {
        &:hover {
            cursor: pointer;
        }
        &:hover img:first-child {
            display: none;
        }
        &:hover img:last-child {
            display: block;
            width: 43px;
            height: 41px;
        }
    }
    .header__btn--primary {
        order: 3;
    }
    .header__cta-btn {
        &:hover {
            color: rgba(141, 129, 172, 1);
            background-color: white;
        } 
    }
    .header__menu {
        flex-basis:auto;
    }
    .header__menu {
        flex-basis: content;
    }
    .header__list {
        padding-top: 0;
        padding-bottom: 9px;
        align-self: center;
        padding-right: 25px;
    }
    .header__link {
        &:hover {
            color: white;
        }
    }

    //hero section
    .header__hero-section {
        min-height: 750px;
    }
    .header__title {
        font-size: 82px;
        line-height: 82px;
        padding-top: 120px;
    }
    .header__description {
        font-size: 30px;
        line-height: 30px;
    }
    .header__extra-info {
        font-size: 16px;
        line-height: 16px;
    }
    .header__btn--secondary {
        &:hover {
            color: rgba(141, 129, 172, 1);
            background-color: white; 
        }
    }

    .container {
        width: 80%;
    }

    .editor__section-editor {
        margin-top: 129px;
        margin-bottom: 70px;
    }

    .editor {

        &__title {
            font-size: 54px;
            line-height: 54px;
        }

        &__text {
            margin-top: 35px;
            margin-bottom: 25px;
            width: 91%;
            max-width: 861px;
            @include center;
        }
    }


    .advantages {
        
        background-color: #F4F4F4;
        padding-top: 94px;
        padding-bottom: 33px;
        overflow-x: hidden;
    }

    .container-advantages {
        width: 80%;
        @include center;
        display: grid;
        grid-template-columns: 45% 50px 55%; 
        grid-template-rows: repeat(8, 9%);

        // @include center;
    }

    .advantages__title {
        width: 100%;
        padding: 0;
        margin-right: 0;
        margin-left: 0;
        grid-column: 3 ;
        grid-row: 1/ 2;
        font-size: 48px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    
/*.container-benefits {
    margin-right: 50px;
    width: 100%;
    padding: 0;

    &__item {

    }

    &__text {
        width: 100%;
    }

}*/
.container-benefits {
    width: 100%;
    padding: 0; 
    padding-bottom: 35px;

    &__text {
        width: 90%;
        line-height: 21px;
    }

    &--creatred{
        grid-column: 1;
        grid-row: 1/ span 2;
    }

    &--incredibly {
        grid-column: 1;
        grid-row: 3/ span 2;
    }
    &--incredibly {
        grid-column: 1;
        grid-row: 3/ span 2;
    }
    &--experimental {
        grid-column: 1;
        grid-row: 5/ span 2;
    }
    &--last {
        grid-column: 1;
        grid-row: 7/ span 2;
    }
}

.advantages__wrapper-img {
    margin-top: 0;
    grid-column: 3;
    grid-row: 2/ span 7;
    position: relative;
    overflow-x: visible;
}

.advantages__img {
    width: auto;
    min-height: 63%;
    left: 0;
   // height: auto;
    position: absolute;
}
}