@media (min-width: $tablet) {
    //navigation section
    .header__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .header__logo {
        @include flex-row;
        justify-content: center;
        align-items: baseline;
        margin-right: auto;
    }
    .logo-title {
        display: inline-block;
        align-self: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: rgba(141, 129, 172, 1);
        text-transform: uppercase;
        padding-left: 10px;
    }
    .header__burger {
        display: none;
    }
    .header__menu {
        visibility: visible;
        position: initial;
        flex-basis: 100%;
        order: 2;  
    }
    .header__list {
        @include flex-row;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .header__item {
        border: none;
    }
    .header__link {
        color: rgba(141, 129, 172, 1);
        padding: 10px 10px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        background-color: initial;
        min-width: 20px;

        &.active::before {
            width: 0px;
            height: 0px;
        }
    }

    //hero section 
    .header__title {
        font-size: 72px;
        line-height: 72px;
    }
    .header__description {
        font-size: 24px;
    }
    .header__btn--secondary {
        width: 400px; 
    }

    //editor section
    .container {
        width: 90%;
    }

    .editor__section-editor {
        margin-top: 158px;
        margin-bottom: 160px;
    }

    .editor {

        &__title {
            font-size: 42px;
            line-height: 42px;
        }

        &__text {
            margin-bottom: 30px;
            font-size: 21px;
            line-height: 29px;
        }

    }

    .editor-list {
        &__last-item {
            margin-top: 0;
        }
    }
    //reviews section 
    .reviews-wrapper {
        width: 100%;
    }
    .reviews {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    .logo__small {
        width:180px; 
        
    }
    .rewiews__review {
        flex-basis: 45.6%;
        // max-width: 200px;

    }
    .reviews__description {
        width: 100%;
        text-align: center;
    }
    .app__reviews__paragraph {
        max-width: 700px;
        text-align: center;
        margin: 30px auto 0;
    }
    .app__reviews {
        height: 780px;
    }
}

@media (min-width: $desktop) {
    //navigation section
    .header__wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .header__body {
        justify-content:space-between;
        align-items: center;
        background-color: black;
        &:last-child {
            flex-basis: content;
        }
        &:hover {
            color: white;
        }
    }
    .header__logo {
        order: 1;

        &-img:hover > .logo-title {
            color: white;
        }
        &:hover > .logo-title{
            color: white;
        }
    }
    .header__logo-img {
        &:hover {
            cursor: pointer;
        }
        &:hover img:first-child {
            display: none;
        }
        &:hover img:last-child {
            display: block;
            width: 43px;
            height: 41px;
        }
    }
    .header__btn--primary {
        order: 3;
    }
    .header__cta-btn {
        &:hover {
            color: rgba(141, 129, 172, 1);
            background-color: white;
        } 
    }
    .header__menu {
        flex-basis:auto;
    }
    .header__menu {
        flex-basis: content;
    }
    .header__list {
        padding-top: 0;
        padding-bottom: 9px;
        align-self: center;
        padding-right: 25px;
    }
    .header__link {
        &:hover {
            color: white;
        }
    }

    //hero section
    .header__hero-section {
        min-height: 750px;
    }
    .header__title {
        font-size: 82px;
        line-height: 82px;
        padding-top: 120px;
    }
    .header__description {
        font-size: 30px;
        line-height: 30px;
    }
    .header__extra-info {
        font-size: 16px;
        line-height: 16px;
    }
    .header__btn--secondary {
        &:hover {
            color: rgba(141, 129, 172, 1);
            background-color: white; 
        }
    }

    .container {
        width: 80%;
    }

    .editor__section-editor {
        margin-top: 129px;
        margin-bottom: 70px;
    }

    .editor {

        &__title {
            font-size: 54px;
            line-height: 54px;
        }

        &__text {
            margin-top: 35px;
            margin-bottom: 25px;
            width: 91%;
            max-width: 861px;
            @include center;
        }
    }

    //reviews section 
    .reviews-wrapper {
        width: 87%;
    }
    .reviews {
        justify-content: space-between;
        width: 100%;
    }
    .rewiews__review {
        flex-basis: 27%;

    }
    .reviews__description {
        width: 100%;

    }
    .app__reviews__paragraph {
        max-width: 860px;
        margin: 60px auto 0;
    }
    .reviews-section hr {
        width: 70%;
    }
    .app__reviews {
        height: 675px;
    }
}