body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100%;
    overflow-x: hidden;
}

.container {
    box-sizing: border-box;
    width: 85%;
    min-width: 320px;
    @include center;
    padding: 0 10px;
    max-width: 1200px;
}

.section-title {
    font-family: $font-Montserrat;
    font-weight: $font-weight-bolt;
    @include center;
    text-align: center;
}


