.pricing {
    width: 100vw;
    background-color: #4a3b4e;
    min-width: 320px;
}

.content-pricing {
    width: 85%;
    @include center;
    padding: 0 10px;
    min-width: 320px;
}

.pricing__title {
    width: 100%;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.container-pricing {
    @include flex-column;
    @include center;
    row-gap: 18px;
    align-items: center;
    width: 100%;

    &__item {
        width: 257px;
        background-color: rgba(95, 81, 97, 0.6);
        @include flex-column;
        row-gap: 30px;
        justify-content: flex-start;
        @include center;
        text-align: center;
    }

    &__title {
        box-sizing: border-box;
        font-family: $font-Montserrat;
        font-weight: $font-weight-regular;
        font-size: 24px;
        line-height: 97px;
        color: #FFFFFF;
        text-transform: uppercase;
        background-color: rgba(105, 91, 106, 0.6);
    }


    &___payment {
        font-family: $font-Montserrat;
        color: #FFFFFF;
        display: block;
    }

    &__price {
        display: block;
        font-weight: $font-weight-bolt;
        font-size: 60px;
        line-height: 62px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__price--regular {
        font-weight: $font-weight-regular;
    }

    &__payment-period {
        font-weight: $font-weight-regular;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__text {
        font-family: $font-Montserrat;
        font-weight: $font-weight-regular;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
    }

    &__text--display {
        display: block;
    }

    &__purchase-btn {
        @include links;
        @include center;
        width: max-content;
        font-family: $font-Montserrat;
        font-weight: $font-weight-regular;
        font-size: 15px;
        line-height: 15px;
        color: #FFFFFF;
        padding: 15px 38px;
        border-radius: 200px;
        background-color: rgb(104, 91, 106);
        margin-top: 8px;
        margin-bottom: 37px;
    }

    &__item--agency {
        width: 299px;
        background-color: rgba(71, 50, 74, 0.9);
        row-gap: 0;
    }

    &__title--agency {
        line-height: 111px;
        color: #FFFFFF;
        background-color: rgba(62, 45, 65, 0.9);
        margin-bottom: 14px;
    }

    &__price--agency {
        font-size: 82px;
        line-height: 84px;
        margin-bottom: 16px;
    }

    &__payment-period--agency {
        display: block;
        margin-bottom: 8px;
    }

    &__text--agency {
        line-height: 32px;
        margin-top: 40px;
    }

    &__purchase-btn--agency {
        font-size: 16px;
        line-height: 18px;
        padding: 18px 48px;
        margin-top: 83px;
        margin-bottom: 47px;
    }

    &__text--students {
        line-height: 18px;
    }

    &__purchase-btn--students {
        margin-top: 26px;
        margin-bottom: 67px;
    }

    &__item:last-child {
        margin-bottom: 20px;
    }
}

.container-pricing__payment::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #8D81AC;
    margin-top: 38px;
    @include center;
}
